

  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-12">
      <h2>Contact</h2>
<p>Email support@computersolutions.fake</p>
<h2>Locations</h2>
<ul>
  <li>Lynn Locations</li>
  <li>333 alabama ave.</li>
  <li>Washington, D.C 00000</li>
  <li>202-555-5555</li>
</ul>
<ul>
  <li>Austin Locations</li>
  <li>333 alabama ave.</li>
  <li>Washington, D.C 00000</li>
  <li>202-555-5555</li>
</ul><ul>
  <li>Boston Locations</li>
  <li>333 alabama ave.</li>
  <li>Washington, D.C 00000</li>
  <li>202-555-5555</li>
</ul>
    </div>
  </div>


</div> <!-- /container -->
